<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey this is a Django Server</title>
</head>
<body>
    
    <h1>"Hey This is a Django Server? "</h1>
    <p>Django server A Django server can be a fantastic tool for web development! It’s a high-level Python framework that encourages rapid development and clean, pragmatic design. Whether you're building a personal blog or a large-scale web application, Django is a reliable choice.</p>

</body>
</html>